/*******************************************************************************
 * CUSTOM GRID THEME FOR ROFI 
 *******************************************************************************/

* {
    font:   "JetBrainsMono 13";

    background-color:   transparent;
    text-color:         @fg0;

    margin:     0px;
    padding:    0px;
    spacing:    0px;
}

window {
    location:       center;
    width:          40%;
    border-radius:  20px;
    background-color:   @bb; /* Outer opaque base */
}

mainbox {
    padding:    30px;
    spacing:    20px;
    children:   [ inputbar, listview ];
}

inputbar {
    background-color:   @se;
    border-radius:      15px;
    padding:            20px 20px;
    spacing:            20px;
    children:           [ prompt, entry ];
}

prompt {
    text-color: @bor;
    font:       "JetBrainsMono Bold 14";
}

entry {
    placeholder:        "Search applications...";
    placeholder-color:  @fg2;
}

listview {
    background-color:   transparent;
    columns:            4;
    lines:              3;
    spacing:            15px;
    fixed-height:       true;
}

element {
    orientation:    vertical;
    padding:        20px 10px;
    spacing:        10px;
    border-radius:  15px;
}

element normal active, element alternate active {
    text-color: @bor;
}

element selected normal, element selected active {
    background-color:   @sel;
    border:             2px;
    border-color:       @bor;
}

element-icon {
    size:           48px;
    horizontal-align: 0.5;
}

element-text {
    horizontal-align: 0.5;
    text-color:       inherit;
}
